.officers-wrapper {
  max-width: 1200px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
}

.officers-wrapper__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
  padding-right: 100px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  padding: 20px;
  background-color: darkblue;
  margin-bottom: 20px;
  border-radius: 10px;
}

.officers-wrapper__item {
  display: grid;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
}

.officers-wrapper__item {
  padding: 20px;
}

.officers-wrapper__item button {
  border: 0px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border-radius: 10px;
}
