/* styles.css */

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
}

h1 {
  color: #f1f1f1;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}
.p1 {
  text-align: center;
  color: #ffffff;
}
.forms {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 12px;
}

.label {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 12px 15px;
  background-color: cadetblue;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: beige;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  margin-right: 10px;
}

.button-submit {
  background-color: aqua;
}

.button-submit:hover {
  background-color: aqua;
}

.button-submit:active {
  background-color: cadetblue;
}

.button-login:hover {
  background-color: #222;
}

.button-login:active {
  background-color: #000;
}
.form_signup {
  background: #ffffff;
  max-width: 350px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
}
.form_input {
  background-color: cadetblue;
  font-size: 15px;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label {
  font-weight: 600;
}
input {
  border-radius: 12px;
  padding: 10px;
  margin-left: 10px;
  font-weight: 500;
}

.form_description {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form_description span {
  display: inline-block;
  font-weight: bold;
}

.description_text {
  width: 240px;
  font-weight: 400;
  height: 50px;
}
