/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #03cc;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
}

h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 45%;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #00a300;
  color: green;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #009200;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  margin-right: 10px;
}

.button-submit {
  background-color: #00a300;
}

.button-submit:hover {
  background-color: #009200;
}

.button-submit:active {
  background-color: #1f7e51;
  box-shadow: 0 3px 0 #1f7e51 inset;
}

.button-login {
  background-color: #333;
}

.button-login:hover {
  background-color: #222;
}

.button-login:active {
  background-color: #000;
  box-shadow: 0 3px 0 #000 inset;
}
